

  <div class="row">
    
    <div class="card" style="width: 30%;">
        <header><h1>Contact</h1></header>
        <img src="assets/img/hautParleur.png" class="card-img-top" alt="...">
        <div class="card-body">
            
            <div>
                <h2>par Mail</h2>
                <h3>contact.formation@asha.fr</h3>
            </div>
            <div>
                <h2>par telephone</h2>
                <h3>06.35.26.25.25</h3>
            </div>
        </div>
      </div>
      <div class="card" style="width: 30%;">
        <header><h1>demandes</h1></header>
        
        <div class="card-body">
            
            <div>
                <h2>pour toute demande de formation pour les entrepreuneur:</h2>
                <button class="myButton" (click)="goTo1()">demande de formation intra</button>
            </div>
            <br>
            <div>
                <h2>pour toute demande de formation sur mesure:</h2>
                <button class="myButton" (click)="goTo2()">demande de formation personalisée</button>
            </div>
        </div>
      </div>
    </div>
   

