<h1>informatique </h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">nom Formations</th>
        <th scope="col">domaine</th>
        <th scope="col">thème</th>
        <th scope="col">description</th>
        <th scope="col">prix</th>
        <th scope="col">durée</th>
        <th scope="col">prérequis</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">java</th>
        <td>Informatique</td>
        <td>Informatique</td>
        <td>formation portant sur le language java</td>
        <td>4500€</td>
        <td>90 jours</td>
        <td>des base de connaissance en programmation</td>
      </tr>
      <tr>
        <th scope="row">C#</th>
        <td>Informatique</td>
        <td>Informatique</td>
        <td>formation portant sur le language C#</td>
        <td>3000€</td>
        <td>60 jours</td>
        <td>des base de connaissance en programmation</td>
      </tr>
      <tr>
        <th scope="row">angular</th>
        <td>Informatique</td>
        <td>Informatique</td>
        <td>formation portant sur le framework angular</td>
        <td>1500€</td>
        <td>30 jours</td>
        <td>des base de connaissance en programmation java</td>
      </tr>
    </tbody>
  </table>