<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Connexion</h5>
              <div class="form-label-group">
                <input [(ngModel)]="email" type="email" id="inputEmail" class="form-control" placeholder="Adresse e-mail" name="email" required autofocus>
                <label for="inputEmail">Adresse e-mail</label>
              </div>
  
              <div class="form-label-group">
                <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" name="password" required>
                <label for="inputPassword">Mot de passe</label>
              </div>
  
              <button (click)="loginHandler()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Connexion</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <br>
  <p class="text-center">si vous n'avez pas de compte, veuillez vous enregistrer</p>