<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-10 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Demande de formation Intra Entreprise</h5>
                    <form action="POST" (ngSubmit)="add(demandeintraForm)" #demandeintraForm=ngForm>
                        <h4>Coordonnées</h4>
                        <div class="form-row">

                            <input type="text" class="form-control" name="id" [(ngModel)]="demandeintra.id"
                                #id="ngModel" hidden>
                            <div class="row">
                                <div class="col">
                                    <label>Prenom</label>
                                    <input type="text" class="form-control" name="prenom"
                                        [(ngModel)]="demandeintra.prenom" #prenom="ngModel" placeholder="Prenom">
                                </div>
                                <div class="col">
                                    <label>Nom</label>
                                    <input type="text" class="form-control" name="nom" [(ngModel)]="demandeintra.nom"
                                        #nom="ngModel" placeholder="Nom">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Email</label>
                                    <input type="email" class="form-control" [(ngModel)]="demandeintra.email"
                                        #email="ngModel" name="Email" placeholder="Email">
                                </div>
                                <div class="col">
                                    <label>Teléphone</label>
                                    <input type="text" [(ngModel)]="demandeintra.telephone" #telephone="ngModel"
                                        name="telephone" class="form-control" placeholder="Telephone">
                                </div>
                                <div class="form-group">
                                    <label for="inputEntreprise">Entreprise</label>
                                    <input type="text" class="form-control" [(ngModel)]="demandeintra.entreprise"
                                        #entreprise="ngModel" name="Entreprise" placeholder="Entreprise">
                                </div>
                            </div>

                            <br>
                            <h4>Plannification</h4>
                            <div class="form-group col-md-6">
                                <label>Date envisagée</label>
                                <input type="text" placeholder="yyyy-mm-dd" [(ngModel)]="demandeintra.dateDebut"
                                    #date="ngModel" class="form-control" name="dateDebut">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Nombre de personnes prévus</label>
                                <input type="number" [(ngModel)]="demandeintra.nbrInscrits" #nbrInscrits="ngModel"
                                    class="form-control" name="NbrInscrits">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Le lieu de la formation
                                    (mettre nos locals de formation ou local entreprise)
                                </label>
                                <input type="text" [(ngModel)]="demandeintra.lieu" #lieu="ngModel" class="form-control"
                                    name="Entreprise">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Eligible au CPF</label>
                                <input type="text" [(ngModel)]="demandeintra.eligibleCPF" #eligibleCPF="ngModel"
                                    class="form-control" name="eligibleCPF">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Formation</label> <br>
                                <select [(ngModel)]="formation.id" name="formationId">
                                    <option class="dropdown-item" disabled selected value="undefined">Selectionner une
                                        Formation
                                    </option>
                                    <option *ngFor="let formation of formations" [value]="formation.id">
                                        {{formation.id}} {{formation.nomFormation}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class=" form-group">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">Confirmer ma demande de formation intra
                            entreprise</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>