<h1>informatique </h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">nom Formations</th>
        <th scope="col">domaine</th>
        <th scope="col">thème</th>
        <th scope="col">description</th>
        <th scope="col">prix</th>
        <th scope="col">durée</th>
        <th scope="col">prérequis</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">réalité virtuelle</th>
        <td>technologie</td>
        <td>New Tech</td>
        <td>formation portant sur la réalité virtuelle</td>
        <td>4500€</td>
        <td>90 jours</td>
        <td>des base de connaissance en programmation</td>
      </tr>
      <tr>
        <th scope="row">réalité augmenté</th>
        <td>technologie</td>
        <td>New Tech</td>
        <td>formation portant sur la réalité augmenté</td>
        <td>3000€</td>
        <td>60 jours</td>
        <td>des base de connaissance en programmation</td>
      </tr>
    </tbody>
  </table>